/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* General */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.button-gold {
    border-radius: 50px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border: 2px solid transparent;
    background-color: white;
    color: rgb(110, 100, 100);
}

.button-gold:hover {
    background-color: white;
    color: goldenrod;
    border: 2px solid rgba(100, 88, 21, 0.027);
}

.button-gold:active {
    background-color: rgba(255, 255, 255, 0.856);
    color: rgb(160, 121, 23);
    border: 2px solid rgba(77, 67, 16, 0.027);
}

.button-black {
    border-radius: 50px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border: 2px solid transparent;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.button-black:hover {
    background-color: black;
    color: goldenrod;
    border: 2px solid rgba(100, 88, 21, 0.027);
}

.color-gray {
    color: gray;
}

/* navbar */
.nav-container {
    justify-content: center;
    max-width: 1350;
}

.navbar {
    border-bottom: 3px solid transparent;
    animation-name: animation-navbar;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animation-navbar {
    0% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid goldenrod;
    }
}

.navbar-nav {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.navbar-logo {
    border: 1px solid rgba(218, 165, 32, 0.247);
    animation-name: animation-navbar-logo;
    -webkit-animation-name: animation-navbar-logo;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes animation-navbar-logo {
    0% {
        opacity: 0%;
    }
    80% {
        opacity: 95%;
        box-shadow: 1px 1px 10px goldenrod;
    }
    90% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-form input[type="search"] {
    width: 100%;
}
.navbar-form input[type="search"]:hover {
    box-shadow: 1px 1px 10px black;
}

.nav-link {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: clamp(1rem, 1vw, 1.3rem);
    border-bottom: 1px solid transparent;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.nav-link:hover {
    color: brown;
    border-bottom: 1px solid goldenrod;
    /* background-color: rgba(165, 42, 42, 0.027); */
    background-color: rgba(218, 165, 32, 0.027);
}

.navbar .navbar-input,
.input-gold {
    border: 1px solid rgba(218, 165, 32, 0.137);
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.input-gold:hover {
    box-shadow: 1px 1px 10px black;
}

.navbar .navbar-input:focus,
.input-gold:focus {
    border: 1px solid rgba(218, 165, 32, 0.137);
    outline: 3px solid black;
    outline-color: rgba(218, 165, 32, 0.582);
    outline-offset: 1px;
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* SECTION main banner */
.main-banner img {
    width: 100%;
}

/* SECTION Main products */

.main-products {
    margin-top: 6rem;
    padding-top: 10px;
}
.main-products .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 425px;
    height: 426px;
    max-width: 425;
    max-height: 426;
    padding: 10px;
    background-image: url(images/product-principal-frame.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-products .sub-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 290px;
    margin-top: 10px;
}

.main-products .title {
    display: flex;
    justify-content: center;
}
.main-products .secondary {
    margin: 10px;
    justify-content: center;
    padding-top: 3rem;
}
.main-products-card {
    margin: 10px 5px 10px 5px;
    max-width: 100%;
    box-shadow: 0px 10px 10px rgba(218, 165, 32, 0.11);
    padding: 25px 10px 10px 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
}

.main-products-card:nth-child(1),
.main-products-card:nth-child(3) {
    margin-top: 3rem;
}

.main-products-card:nth-child(2) {
    background-color: rgba(218, 165, 32, 0.164);
}

.main-products-card:hover {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    box-shadow: 1px 1px 10px goldenrod, 1px 1px 20px rgba(17, 13, 2, 0.541);
}

.main-products-card:hover img {
    transform: scale(1.02) translate(0px, -5px);
    -webkit-transform: scale(1.02) translate(0px, -5px);
    -moz-transform: scale(1.02) translate(0px, -5px);
    -ms-transform: scale(1.02) translate(0px, -5px);
    -o-transform: scale(1.02) translate(0px, -5px);
    border: 1px solid rgb(240, 182, 35);
}
.main-products-card .body-card {
    padding-left: 1rem;
}

.main-products-card a {
    width: 100%;
}
.main-products-card img {
    max-width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid goldenrod;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

/* horizontal-products-list */

.horizontal-products-list {
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0px 2rem 0px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-list-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 380px;
    padding: 1rem;
    box-shadow: 0px 20px 20px -30px rgba(0, 0, 0, 0.37);
}

.scroll-list-control i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 2rem;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border: 1px solid rgba(218, 165, 32, 0.226);
}
.scroll-list-control i:hover {
    color: rgb(161, 122, 23);
    border: 1px solid transparent;
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.048));
    -webkit-filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 0.048));
}
.scroll-list-control img {
    width: 50px;
    height: 40px;
    align-self: center;
}
.scroll-list-panel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    /* background-color: rgb(218, 165, 32); */
    padding: 0rem 5rem 3rem 0rem;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
}

.scroll-list-panel::-webkit-scrollbar {
    height: 5px;
}

.scroll-list-panel::-webkit-scrollbar-track {
    background: rgb(248, 245, 238);
    border-radius: 10px;
}

.scroll-list-panel::-webkit-scrollbar-thumb {
    background: rgba(218, 165, 32, 0.356);
    border-radius: 10px;
}

.scroll-list-panel::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 177, 34);
}
.horizontal-products-list .card-body {
    /*background-color: aliceblue;
    */
    margin: 1.5rem;
    margin: 30px;
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
.horizontal-products-list .card-body:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .top-body {
    position: relative;
}

.top-body img {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.top-body img:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.top-body .discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    translate: 25px 25px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: #fd0037;
    opacity: 75%;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}

.card-body .bottom-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.bottom-body .name {
    font-size: 1.5rem;
}

.bottom-body .new-price {
    color: rgb(4, 66, 23);
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.bottom-body .old-price {
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
    margin-left: 1rem;
    text-shadow: 1px 1px 10px #df3f6257;
    text-decoration: line-through;
}

.bottom-body .quotas {
    background-color: #eff7f2;
    color: #136132;
    width: auto;
    padding: 1px 1rem 1px 1rem;
    align-self: flex-start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bottom-body .off {
    background-color: #e4efff;
    color: rgb(22, 99, 143);
    margin-top: 5px;
    font-size: 0.8rem;
}

/* personalized  */

.personalized {
    background-color: #f7f7f7;
    margin-top: 6rem;
    padding: 5rem;
}
.personalized .row {
    justify-content: center;
    align-items: start;
    text-align: center;
}
.personalized .left-panel {
    padding: 50px 5vw 50px 5vw;
    text-align: start;
}

.personalized .left-panel h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0px;
    color: rgb(136, 44, 44);
}

.personalized .right-panel {
    max-height: 720px;
    max-width: 720px;
}
.personalized img {
    max-width: 460px;
    max-height: 460px;
    width: 100%;
    filter: drop-shadow(1px 1px 30px rgba(0, 0, 255, 0.164));
    -webkit-filter: drop-shadow(1px 1px 30px rgba(0, 0, 255, 0.164));
}

/* contact-and-map */

.contact-and-map {
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    display: flex;
    justify-content: center;
    margin: 6rem 0px 6rem 0px;
    text-align: center;
}
.contact-and-map .row {
    text-align: center;
}

.contact-and-map .left-panel {
    text-align: start;
    max-width: 600px;
    padding: 2rem 0px 2rem 0px;
}

.contact-and-map .right-panel {
    justify-content: center;
}
.contact-and-map .map-viewer {
    margin: 10px;
    width: 100%;
    height: 400px;
}

.contact-and-map .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-and-map .description {
    margin-bottom: 3rem;
}

.contact-and-map .schedules p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-and-map .buttons {
    margin: 2rem 0px 2rem 0px;
}

/* services */

.services {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .row {
    width: 90vw;
    max-width: 1200px;
}
.services .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services i {
    font-size: 3rem;
    color: goldenrod;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.199));
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.199));
}
.services p {
    font-family: "Mea Culpa", cursive;
    color: #616060;
}
/* footer */

.footer {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #808080;
    color: white;
    padding-left: 20px;
    padding-bottom: 1rem;
}

.footer .panel {
    margin-top: 3rem;
}
.footer h3 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.637);
}

footer a {
    color: white;
}

.footer .copyright {
    margin-top: 3rem;
    font-size: 0.8rem;
    color: black;
    filter: drop-shadow(1px 1px 5px white);
    -webkit-filter: drop-shadow(1px 1px 5px white);
}
@media screen and (max-width: 1400px) {
    .nav-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        order: 1;
        width: 100%;
        text-align: center;
    }
    .navbar-form {
        width: 75%;
        justify-self: end;
    }
    .navbar-form input[type="search"] {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .main-products-card {
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.027);
    }
    .main-products-card .body-card {
        text-align: start;
    }

    .personalized {
        padding: 50px 0px;
    }

    .personalized .left-panel {
        order: 1;
    }
    .personalized img {
        max-width: 360px;
    }
}

@media screen and (max-width: 575px) {
    .navbar-logo {
        display: none;
    }

    .navbar-form {
        width: 90%;
        justify-self: center;
    }
    .personalized {
        max-width: 94vw;
    }
}

@media screen and (max-width: 480px) {
}
